<aside class="flex">
  <div
    class="h-screen py-8 overflow-y-auto bg-white border-r sm:w-64 w-60 dark:bg-gray-900 dark:border-gray-700"
  >
    <h2 class="px-5 text-lg font-medium text-gray-800 dark:text-white">
      Accounts
    </h2>

    <div class="mt-8 mr-3 space-y-4">
      <app-user-cv-item
        *ngFor="let userData of userList"
        [userData]="userData"
        [isSelected]="userSelected === userData"
        (sendUser)="getSelectedUser($event)"
      >
        <img
          class="object-cover w-8 h-8 rounded-full"
          src="/assets/images/user-1.png"
          alt="User"
        />

        <div class="text-left rtl:text-right">
          <h1
            class="text-sm font-medium text-gray-700 capitalize dark:text-white"
          >
            Mia John
          </h1>

          <p class="text-xs text-gray-500 dark:text-gray-400">Enseignant</p>
        </div>
      </app-user-cv-item>
    </div>
  </div>
</aside>
