@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800;900&display=swap");

:host {
    width  : 100%;
    display: block;
}

*,
*::before,
*::after {
    font-family: "Inter", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    margin     : 0;
    padding    : 0;
    box-sizing : border-box;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .card-item {
        @apply flex items-center w-full px-5 py-3 transition-colors duration-200 gap-x-2 mb-3;

        &:hover,
        &.active {
            @apply bg-gray-100;
        }

        &:focus {
            @apply outline-none;
        }
    }


    .sidebar-link {
        a {
            @apply text-gray-500;

            &:hover {
                @apply bg-gray-100;
            }

            &.active {
                @apply text-blue-500 bg-blue-100;
            }
        }
    }

    .dark {
        .card-item:hover {
            @apply bg-gray-800;
        }
    }
}

/* -----------------APPARITION AU DEFILEMENT ----------------- */
/* CETTE ANIMATION SERA JOUER UNIQUEMENT LORSQUE L'element HTML <html> aura la classe ".reveal-loaded " */
/* Tous les element qui sont dans .reveal et qui on une classe .reveal-[quelque chose] */
.reveal [class*="reveal-"] {
    opacity   : 0;
    /* Les elements vont apparaitre depuis le bas */
    transform : translateY(30px);
    transition: 0s !important;
}

/* Tous les element qui sont dans .reveal-visible et qui on une classe .reveal-[quelque chose] */
.reveal-visible [class*="reveal-"] {
    opacity  : 1;
    transform: translateY(0);
    transition: opacity 1s cubic-bezier(0.5, 0, 0, 1),
        transform 1s cubic-bezier(0.5, 0, 0, 1);
}

.bg-blue-gradient-reverse {
    background: var(--blue-gradient-reverse);
}

.img-response {
    display   : block;
    object-fit: cover;
    width     : 100%;
    height    : 100%;
    margin    : 0 auto;
}

%mx-auto {
    margin-left : auto;
    margin-right: auto;
}

.reveal-visible .reveal-1 {
    transition-delay: 0.3s;
}

.reveal-visible .reveal-2 {
    transition-delay: 0.4s;
}

.reveal-visible .reveal-3 {
    transition-delay: 0.5s;
}

.reveal-visible .reveal-4 {
    transition-delay: 0.6s;
}

.reveal-visible .reveal-5 {
    transition-delay: 0.7s;
}

input,
select,
textarea {
    &.ng-invalid.ng-touched {
        @apply border border-red-500;
    }
}